* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
  background: url(images/lakka-beach.jpg) no-repeat center/cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#main-card {
  height: 75vh;
  width: 90vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.7);
}

footer {
  background-color: rgba(255, 255, 255, 0.5) !important;
  padding: 2vh !important;
}

footer * {
  color: #0072C6;
  display: inline-block;
}

footer .brand-logo {
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}

.center-wrapper {
  width: 100%;
}

.progress-wrapper {
  width: 100%;
  padding: 0px 50px;
}

.progress {
  display: inline-flex;
  width: 75%;
}
